{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento</title>
    <style>
        body {
            background: url("{% static 'assets/images/mantenimiento.webp' %}");
            background-size: cover;
            background-repeat:no-repeat;
            text-align: center;
            font-family: 'Matura MT Script Capitals';
            font-size: 20px;
        }
    </style>
</head>
<body>

    <h1>NEGOCIO DESACTIVADO</h1>
</body>
</html>