{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>{% block title %}  {% endblock %} - MiCartaFacil</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link href="{% static 'assets/css/bootstrap-dark.min.css' %}" id="css_theme_style"
          rel="stylesheet" media="screen,print">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet"
          media="screen,print">
    <link href="{% static 'assets/css/link-custom.css' %}" rel="stylesheet"
          media="screen,print">
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet"
          media="screen,print">
    <link href="{% static 'assets/css/sweetalert.css' %}" rel="stylesheet" >
    <link href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" >
    
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/sweetalert.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

</head>

<body class="c_darkmode" data-theme-style="dark">
    
    {% include 'header.html' %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{%else%}{{ message.tags }}{% endif %}" role="alert">
                    <i class="fa {% if message.tags == 'error' or message.tags == 'warning'%}fa-exclamation-triangle{% else %}fa-check-circle{% endif %}  mr-2"></i> {{ message }}
                </div>
            {% endfor %}         
        {% endif %}
    </div>  

    {% block content %}
        
    {% endblock %}

    {% include 'footer.html' %}

</body>
</html>